<!-- ======================================================
  USERS
  ========================================================= -->

<h2 id="users">Utilisateurs</h2>

<%- include("getAll") %>
<%- include("getById") %>
<%- include("create") %>
<%- include("update") %>
<%- include("updatePassword") %>
<%- include("delete") %>