<!-- ======================================================
  CATWAYS
  ========================================================= -->

<h2 id="users">Catways</h2>

<%- include("getAll") %>
<%- include("getById") %>
<%- include("create") %>
<%- include("update") %>
<%- include("delete") %>
