<h2 id="auth">Authentification</h2>
<%- include("auth") %>

<h2 id="users">Utilisateurs</h2>
<%- include("users") %>

<h2 id="users">Catways</h2>
<%- include("catways") %>

<h2 id="reservations">Réservations</h2>
<%- include("reservations") %>

<h2 id="errors">Erreurs globales de l'API</h2>
<%- include("globalErrors") %>