<h1>Création d'un utilisateur</h1>
<% if (globalError) { %>
  <div class="form-global-error" role="alert">
    <%= globalError %>
  </div>
<% } %>

<form
  method="POST"
  action="/users/create"
  class="form"
  data-password-rules="<%- JSON.stringify(passwordRules || []) %>"
>
  <!--====== USERNAME =======-->

  <div class="form-group <%= errors.username ? 'has-error' : '' %>">
    <label for="username">Nom d'utilisateur</label>
    <input
      type="text"
      id="username"
      name="username"
      value="<%= formData.username || '' %>"
      aria-invalid="<%= errors.username ? 'true' : 'false' %>"
      placeholder="John Doe"
      required
    >
    <% if (errors.username) { %>
    <p class="form-error"><%= errors.username %></p>
    <% } %>
  </div>

  <!--====== EMAIL =======-->

  <div class="form-group <%= errors.email ? 'has-error' : '' %>">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      aria-describedby="email-feedback"
      value="<%= formData.email || '' %>"
      aria-invalid="<%= errors.email ? 'true' : 'false' %>"
      autocapitalize="none"
      autocomplete="off"
      spellcheck="false"
      placeholder="john@doe.com"
      required
    >
    <p
      id="email-feedback"
      class="form-error <%= errors.email ? '' : 'hidden' %>"
    >
      <%= errors.email || "" %>
    </p>
  </div>

  <!--====== PASSWORD =======-->

  <div class="form-group <%= errors.password ? 'has-error' : '' %>">
    <label for="password">Mot de passe</label>
    <div class="password-wrapper">
      <input
        type="password"
        id="password"
        name="password"
        autocomplete="new-password"
        aria-invalid="<%= errors.password ? 'true' : 'false' %>"
        required
      >
      <button
        type="button"
        class="toggle-password"
      >
        <i class="fa-solid fa-eye" aria-hidden="true"></i>
      </button>
    </div>

    <div class="password-strength">
      <div id="password-strength-bar" class="password-strength-bar"></div>
    </div>
    <p id="password-strength-label" class="password-strength-label"></p>

    <% if (errors.password?.message) { %>
    <p class="form-error"><%= errors.password.message %></p>
    <% } %> <%- include("../partials/passwordRules.ejs", { passwordRules, errors
    }) %>
  </div>

  <!--====== BUTTONS ACTIONS =======-->

  <div class="form-actions">
    <a href="/users" class="btn btn-cancel">Annuler</a>
    <button type="submit" class="btn btn-confirm">Créer l'utilisateur</button>
  </div>
</form>

<!--====== SCRIPTS =======-->

<script src="/js/form/availableEmail.js" defer></script>
<script src="/js/form/passwordValidation.js" defer></script>
<script src="/js/ui/form/passwordEye.js" defer></script>
<script src="/js/ui/form/formErrorCleanup.js" defer></script>
