<h1>Création d'un catway</h1>

<% if (globalError) { %>
  <div class="form-global-error" role="alert">
    <%= globalError %>
  </div>
<% } %>

<form method="POST" action="/catways/create" class="form">
  <!--====== NUMBER ======-->

  <div class="form-group">
    <label for="catwayNumber">Numéro du catway</label>
    <input
      type="number"
      id="catwayNumber"
      class="form-control"
      name="catwayNumber"
      min="1"
      step="1"
      value="<%= formData.catwayNumber || startNumber %>"
      aria-invalid="<%= errors.catwayNumber ? 'true' : 'false' %>"
      data-invalid="<%= errors.catwayNumber ? 'true' : '' %>"
      required
    />

    <p id="catwayNumber-error" class="form-error <%= errors.catwayNumber ? '' : 'hidden' %>">
      <%= errors.catwayNumber %>
    </p>

    <p
      id="catwayNumber-feedback"
      class="form-error hidden"
      data-source="ajax"
    ></p>
  </div>

  <!--====== TYPE ======-->

  <div class="form-group">
    <label for="catwayType">Type</label>
    <select id="catwayType" class="form-control" name="catwayType" required>
      <option value="">- Choisir -</option>
      <option
        value="short"
        <%= formData?.catwayType === "short" ? "selected" : '' %>
        >
        Short
      </option>
      <option
        value="long"
        <%= formData?.catwayType === "long" ? "selected" : '' %>
        >
        Long
      </option>
    </select>
  </div>

  <!--====== STATE ======-->

  <div class="form-group">
    <label class="checkbox-inline" for="goodStateCheckbox">
      <input
        type="checkbox"
        id="goodStateCheckbox"
        class="form-control"
        data-toggle-checkbox="catwayState"
        data-toggle-value="bon état"
        checked
      />
      Catway en bon état
    </label>
  </div>

  <div class="form-group" id="stateTextGroup">
    <label for="catwayState">État du catway</label>
    <textarea
      id="catwayState"
      class="form-control"
      name="catwayState"
      rows="3"
      placeholder="Veuillez saisir une description sur l'état du catway"
      readonly
      aria-readonly="true"
      required
    ></textarea>

    <% if (errors?.catwayState) { %>
    <p class="form-error"><%= errors.catwayState %></p>
    <% } %>
  </div>

  <!--====== BUTTONS ACTIONS =======-->

  <div class="form-actions">
    <a href="/catways" class="btn btn-cancel">Annuler</a>
    <button type="submit" class="btn btn-confirm" autofocus disabled>Créer le catway</button>
  </div>
</form>

<!--====== SCRIPTS ======-->

<script src="/js/form/preventSubmitIfLocked.js" defer></script>
<script src="/js/form/checkboxTextToggle.js" defer></script>
<script type="module" src="/js/form/availableCatway.js"></script>
<script src="/js/ui/form/formErrorCleanup.js" defer></script>

