<!-- ======================================================
  RESERVATIONS
  ========================================================= -->

<h2 id="reservations">Réservations</h2>

<%- include("getAll") %>
<%- include("getByCatway") %>
<%- include("getById") %>
<%- include("create") %>
<%- include("update") %>
<%- include("delete") %>
